{
    "apps": [
        {
            "Updated": "2024-12-03T01:44:10.7486828+09:00",
            "Info": "",
            "Version": "24.09",
            "Name": "7zip",
            "Source": "main"
        },
        {
            "Updated": "2024-11-10T01:35:37.9965688+09:00",
            "Info": "",
            "Version": "35.0.2",
            "Name": "adb",
            "Source": "main"
        },
        {
            "Updated": "2025-04-16T21:56:25.4246167+09:00",
            "Info": "",
            "Version": "1.2.9",
            "Name": "bun",
            "Source": "main"
        },
        {
            "Updated": "2025-04-16T21:57:04.5490231+09:00",
            "Info": "",
            "Version": "4.0.1",
            "Name": "cmake",
            "Source": "main"
        },
        {
            "Updated": "2025-03-12T23:29:46.5855012+09:00",
            "Info": "",
            "Version": "9.6.3",
            "Name": "crystaldiskinfo",
            "Source": "extras"
        },
        {
            "Updated": "2025-03-17T01:42:34.9456116+09:00",
            "Info": "",
            "Version": "2025-03",
            "Name": "eclipse-java",
            "Source": "extras"
        },
        {
            "Updated": "2025-02-13T08:37:26.3904967+09:00",
            "Info": "",
            "Version": "5.8.1",
            "Name": "fastcopy",
            "Source": "extras"
        },
        {
            "Updated": "2025-04-16T20:54:25.6538629+09:00",
            "Info": "",
            "Version": "126.0",
            "Name": "firefox",
            "Source": null
        },
        {
            "Updated": "2025-03-13T01:07:27.1960666+09:00",
            "Info": "",
            "Version": "11.24.0",
            "Name": "floorp",
            "Source": "extras"
        },
        {
            "Updated": "2025-04-16T21:59:42.9487163+09:00",
            "Info": "",
            "Version": "3.0.2-1",
            "Name": "gimp",
            "Source": "extras"
        },
        {
            "Updated": "2025-04-16T22:00:00.265136+09:00",
            "Info": "",
            "Version": "2.49.0",
            "Name": "git",
            "Source": "main"
        },
        {
            "Updated": "2025-04-16T22:00:37.1599158+09:00",
            "Info": "",
            "Version": "1.24.2",
            "Name": "go",
            "Source": "main"
        },
        {
            "Updated": "2025-03-13T01:09:06.1992897+09:00",
            "Info": "",
            "Version": "134.0.6998.89",
            "Name": "googlechrome",
            "Source": "extras"
        },
        {
            "Updated": "2025-03-13T01:10:58.8109361+09:00",
            "Info": "",
            "Version": "8.13",
            "Name": "gradle",
            "Source": "main"
        },
        {
            "Updated": "2025-03-17T01:44:35.0091648+09:00",
            "Info": "",
            "Version": "2.64.3",
            "Name": "innounp",
            "Source": "main"
        },
        {
            "Updated": "2025-04-16T22:00:44.459884+09:00",
            "Info": "",
            "Version": "2.6.0.40632",
            "Name": "jetbrains-toolbox",
            "Source": "extras"
        },
        {
            "Updated": "2025-03-17T03:45:03.1416996+09:00",
            "Info": "",
            "Version": "1.40.0",
            "Name": "just",
            "Source": "main"
        },
        {
            "Updated": "2024-08-28T02:06:37.3010689+09:00",
            "Info": "",
            "Version": "24.1",
            "Name": "latex",
            "Source": "main"
        },
        {
            "Updated": "2025-04-16T22:03:10.5988077+09:00",
            "Info": "",
            "Version": "25.2.2",
            "Name": "libreoffice",
            "Source": "extras"
        },
        {
            "Updated": "2025-01-11T03:06:27.5566821+09:00",
            "Info": "",
            "Version": "1.2.2",
            "Name": "nvm",
            "Source": "main"
        },
        {
            "Updated": "2025-04-16T22:03:23.3862913+09:00",
            "Info": "",
            "Version": "24.0.1-9",
            "Name": "openjdk",
            "Source": "java"
        },
        {
            "Updated": "2024-07-23T23:57:55.2112123+09:00",
            "Info": "",
            "Version": "22.0.2-9",
            "Name": "openjdk22",
            "Source": "java"
        },
        {
            "Updated": "2025-04-16T22:03:24.9484674+09:00",
            "Info": "",
            "Version": "9.8.2.0p2",
            "Name": "openssh",
            "Source": "main"
        },
        {
            "Updated": "2025-04-16T22:06:30.6409873+09:00",
            "Info": "",
            "Version": "3.5.0",
            "Name": "openssl",
            "Source": "main"
        },
        {
            "Updated": "2025-04-16T22:06:37.6211498+09:00",
            "Info": "",
            "Version": "3.6.4",
            "Name": "pandoc",
            "Source": "main"
        },
        {
            "Updated": "2024-08-28T05:38:02.2955951+09:00",
            "Info": "",
            "Version": "1.7.1",
            "Name": "pipx",
            "Source": "main"
        },
        {
            "Updated": "2025-02-13T08:44:09.1412133+09:00",
            "Info": "",
            "Version": "0.83",
            "Name": "putty",
            "Source": "extras"
        },
        {
            "Updated": "2025-03-17T01:48:54.5791541+09:00",
            "Info": "",
            "Version": "7.5.0",
            "Name": "pwsh",
            "Source": "main"
        },
        {
            "Updated": "2025-04-16T22:07:13.8249287+09:00",
            "Info": "",
            "Version": "3.13.3",
            "Name": "python",
            "Source": "main"
        },
        {
            "Updated": "2025-04-16T22:12:04.2217761+09:00",
            "Info": "",
            "Version": "1.28.1",
            "Name": "rustup",
            "Source": "main"
        },
        {
            "Updated": "2025-04-16T22:12:37.623731+09:00",
            "Info": "",
            "Version": "4.43.52",
            "Name": "slack",
            "Source": "extras"
        },
        {
            "Updated": "2025-03-13T01:15:53.9170094+09:00",
            "Info": "",
            "Version": "7.1.3570.60",
            "Name": "vivaldi",
            "Source": "extras"
        },
        {
            "Updated": "2025-04-16T22:13:02.1344402+09:00",
            "Info": "",
            "Version": "1.99.2",
            "Name": "vscode",
            "Source": "extras"
        },
        {
            "Updated": "2025-04-16T22:13:06.3837379+09:00",
            "Info": "",
            "Version": "6.5",
            "Name": "winscp",
            "Source": "extras"
        },
        {
            "Updated": "2025-04-16T22:13:16.8142702+09:00",
            "Info": "",
            "Version": "6.4.5.64357",
            "Name": "zoom",
            "Source": "extras"
        }
{{ if eq .setting_pc_type "private_pc" }}
        ,
        {
            "Updated": "2023-12-13T04:45:37.050734+09:00",
            "Info": "",
            "Version": "1.22.3",
            "Name": "appium",
            "Source": "extras"
        },
        {
            "Updated": "2025-04-16T21:57:28.8448922+09:00",
            "Info": "",
            "Version": "2.15",
            "Name": "cpu-z",
            "Source": "extras"
        },
        {
            "Updated": "2025-03-12T23:29:54.3063239+09:00",
            "Info": "",
            "Version": "9.6.3",
            "Name": "crystaldiskinfo-aoi",
            "Source": "aoisummer"
        },
        {
            "Updated": "2024-03-01T10:24:37.6601744+09:00",
            "Info": "",
            "Version": "3.14",
            "Name": "dark",
            "Source": "main"
        },
        {
            "Updated": "2024-11-30T17:43:38.4823158+09:00",
            "Info": "Install failed",
            "Version": null,
            "Name": "deepl",
            "Source": null
        },
        {
            "Updated": "2025-04-16T21:57:46.3975868+09:00",
            "Info": "",
            "Version": "1.0.9188-21",
            "Name": "discord",
            "Source": "extras"
        },
        {
            "Updated": "2025-03-17T01:44:33.7864335+09:00",
            "Info": "",
            "Version": "18.1.3",
            "Name": "epic-games-launcher",
            "Source": "games"
        },
        {
            "Updated": "2025-04-16T21:57:59.0098163+09:00",
            "Info": "",
            "Version": "3.69.0",
            "Name": "filezilla",
            "Source": "extras"
        },
        {
            "Updated": "2023-12-13T05:12:25.257404+09:00",
            "Info": "",
            "Version": "3.5.8698",
            "Name": "musicbee",
            "Source": "extras"
        },
        {
            "Updated": "2024-04-24T01:53:46.0138141+09:00",
            "Info": "",
            "Version": "7.95",
            "Name": "nmap",
            "Source": "main"
        },
        {
            "Updated": "2024-11-10T02:55:45.7202837+09:00",
            "Info": "",
            "Version": "1.18.1",
            "Name": "ppsspp",
            "Source": "games"
        },
        {
            "Updated": "2025-04-16T22:07:15.2159388+09:00",
            "Info": "",
            "Version": "4.7",
            "Name": "rufus",
            "Source": "extras"
        },
        {
            "Updated": "2025-01-17T01:36:23.7895861+09:00",
            "Info": "",
            "Version": "4.5.2",
            "Name": "sonic-visualiser",
            "Source": "extras"
        },
        {
            "Updated": "2025-04-16T22:12:44.3114551+09:00",
            "Info": "",
            "Version": "15.64.3",
            "Name": "teamviewer",
            "Source": "extras"
        },
        {
            "Updated": "2025-03-13T01:15:16.4755166+09:00",
            "Info": "",
            "Version": "5.4.0",
            "Name": "teraterm",
            "Source": "extras"
        },
        {
            "Updated": "2024-06-21T04:56:45.7039113+09:00",
            "Info": "",
            "Version": "3.0.21",
            "Name": "vlc",
            "Source": "extras"
        },
        {
            "Updated": "2023-12-13T05:15:35.6946471+09:00",
            "Info": "",
            "Version": "8.2.12-0",
            "Name": "xampp",
            "Source": "extras"
        }
        {{ end }}
    ],
    "buckets": [
        {
            "Name": "main",
            "Source": "https://github.com/ScoopInstaller/Main",
            "Updated": "2025-04-16T21:32:31+09:00",
            "Manifests": 1387
        },
        {
            "Name": "extras",
            "Source": "https://github.com/ScoopInstaller/Extras",
            "Updated": "2025-04-16T21:31:33+09:00",
            "Manifests": 2151
        },
        {
            "Name": "java",
            "Source": "https://github.com/ScoopInstaller/Java",
            "Updated": "2025-04-16T10:37:05+09:00",
            "Manifests": 299
        },
        {
            "Name": "games",
            "Source": "https://github.com/Calinou/scoop-games",
            "Updated": "2025-04-16T21:31:22+09:00",
            "Manifests": 344
        },
        {
            "Name": "aoisummer",
            "Source": "https://github.com/aoisummer/scoop-bucket",
            "Updated": "2025-04-16T02:28:57+09:00",
            "Manifests": 49
        },
        {
            "Name": "iyokan-jp",
            "Source": "https://github.com/tetradice/scoop-iyokan-jp",
            "Updated": "2024-02-04T07:05:43+09:00",
            "Manifests": 0
        },
        {
            "Name": "TheRandomLabs",
            "Source": "https://github.com/TheRandomLabs/Scoop-Bucket.git",
            "Updated": "2022-10-19T01:38:50+09:00",
            "Manifests": 13
        }
    ]
}
