[Settings]
folder = {{ .chezmoi.homeDir }}/Pictures/Wallpapers
backend = hyprpaper
fill = fill
sort = name
monitors = All
wallpaper = {{ .chezmoi.homeDir }}/Pictures/Wallpapers/hyprland-wall0.png
use_xdg_state = True
